<body class="text-center">
<main class="form-signin w-100 m-auto text-center">
  <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/6/67/UTN_logo.jpg" alt="" width="72" height="57">
  <h1>{{title}}</h1>

  
  <div class="form-floating">
    <input type="number" class="form-control" id="edadUno" placeholder="Edad Uno" [(ngModel)]="edadUno">
    <label for="floatingInput">Edad uno</label>
  </div>
  <div class="form-floating">
    <input type="number" class="form-control" id="edadDos" [(ngModel)]="edadDos" placeholder="Edad Dos">
    <label for="floatingPassword">Edad dos</label>
    
  </div>
  
    <h1> La suma es : {{suma}}</h1>
    <h1> El promedio es : {{promedio}}</h1>
<button class="w-100 btn btn-lg btn-primary" (click)="calcular()" >Calcular</button>
<button class="w-100 btn btn-lg btn-primary" (click)="limpiar()" >Limpiar</button>

</main>
</body>
<router-outlet>
</router-outlet>
